<div class="side-image">
  <div class="side-image__images-wrapper" style="background: linear-gradient(rgba(181,235,235, .5), rgba(93,172,93, .5)), url('{{ image_path }}') no-repeat center center / cover;"></div>
  <div class="side-image__content">
    <h4>{{ topic }}</h4>
    <h1>{{ heading }}</h1>
    {{ body }}
    <a href="/cards/{{ season_id }}">View Season Cast</a>
  </div>
</div>